<div class="row">

  <!--### The form for a new message ###
  <div class="col-md-6">
    <h4>Process list</h4>

    <form name="form" novalidate>
      <fieldset>
        <div>
          <textarea id="text-input" rows="3" placeholder="Enter your message ..."
                    data-ng-model="message.text" required>
          </textarea>
        </div>
        <div>
          <button type="submit" class="btn btn-primary"
                  data-ng-click="sendMessage()" data-ng-disabled="form.$invalid">
            Gabble away
          </button>
        </div>
      </fieldset>
    </form>
  </div>
-->
  <!--### The list of messages ###-->
  <div class="col-md-6 messages">
    <h1>Production map</h1>
  </div>

</div>
