.idea/
.idea_modules/
.settings/
.worksheet/
.cache/
target/
.classpath
.project
project/target
.DS_Store


*.class
*.log

# sbt specific
.cache/
.history/
.lib/
dist/*
target/
lib_managed/
src_managed/
demo/

.settings/*
*.settings/
*/.settings/